__pycache__
.pyc
.pdf
.env
akasha_terminal.egg-info/
build/
dist/
chromadb/
logs/
docs/
akasha/doc/
_build/
questionset/
model/chinese_alpaca_pro_lora_33b.zip
.gitignore
model/llama-2-7b-chat.ggmlv3.q4_0.bin
model/llama-2-7b-chat.ggmlv3.q8_0.bin
model/Chinese-Llama-2-7b-ggml-q4.bin
model/llama-2-13b-chat.ggmlv3.q8_0.bin
model/llama-2-13b-chat.ggmlv3.q4_0.bin
test.py
test_plc.py
model/datasets/new.jsonl
model/datasets/ceval-val.jsonl
model/datasets/ceval-test.jsonl
model/datasets/ceval-dev.jsonl
chroma_logs.log
process_dataset.py
questionset/mic_10.txt
questionset/mic_9.txt
questionset/mic_8.txt
questionset/mic_7.txt
questionset/mic_6.txt
questionset/mic_5.txt
questionset/mic_4.txt
.gitignore
model/llama-2-13b-chat.ggmlv3.q4_1.bin
questionset/mic_3.txt
questionset/mic_2.txt
questionset/mic_1.txt
questionset/mic_0.txt
questionset/doc_0.txt
t.py
questionset/doc_1.txt
model/datasets/train.jsonl
summarization/
model/chinese-llama-2-13b.Q5_K_S.gguf
model/chinese-llama-2-7b.Q5_K_S.gguf
model/llama-2-7b-chat.Q5_K_S.gguf
summarization/mic_10.txt
model/llama-2-13b-chat-hf.Q5_K_S.gguf

docs/plant/风车菊.pdf
docs/plant/石珀.pdf
config/
summarization/20230531_智慧製造需求下之邊緣運算與新興通訊發展分析.txt
eva.json
model/chinese-alpaca-2-7b.Q5_K_S.gguf
model/chinese-alpaca-2-13b.Q5_K_M.gguf
.coverage
dataset.json
expert.json
akasha_ui_1_5.tar
akasha_builder_1_0.tar
question_set2.txt
result.csv
test_*.py
.vscode/settings.json
SIMYOU.TTF
SIMYOU.cw127.pkl
SIMYOU.pkl
default.pdf
model/CapybaraHermes-2.5-mistral-7B-f16.gguf
