__pycache__
.pyc
.pdf
.env
chromadb/
logs/
doc/
model/chinese_alpaca_pro_lora_33b.zip
.gitignore
model/llama-2-7b-chat.ggmlv3.q4_0.bin
model/llama-2-7b-chat.ggmlv3.q8_0.bin
model/Chinese-Llama-2-7b-ggml-q4.bin
model/llama-2-13b-chat.ggmlv3.q8_0.bin
model/llama-2-13b-chat.ggmlv3.q4_0.bin
test.py
test_plc.py
model/datasets/new.jsonl
model/datasets/ceval-val.jsonl
model/datasets/ceval-test.jsonl
model/datasets/ceval-dev.jsonl
chroma_logs.log
process_dataset.py
questionset/mic_10.txt
questionset/mic_9.txt
questionset/mic_8.txt
questionset/mic_7.txt
questionset/mic_6.txt
questionset/mic_5.txt
questionset/mic_4.txt
.gitignore
model/llama-2-13b-chat.ggmlv3.q4_1.bin
questionset/mic_3.txt
questionset/mic_2.txt
questionset/mic_1.txt
questionset/mic_0.txt
questionset/doc_0.txt
t.py
questionset/doc_1.txt
model/datasets/train.jsonl
summarization/元大.txt
summarization/eng5軸工具機因應市場訴求改變的發展態勢.txt
summarization/dark_web.txt
summarization/20230317_5軸工具機因應市場訴求改變的發展態勢.txt
